

.cesium-viewer-bottom{
  display: none;
}

.fullSize {display: block;position: absolute;top: 0;left: 0;border: none;width: 100%;height: 100%;}
.cesium-viewer-animationContainer{display: none}
.cesium-viewer-toolbar{display:none}
.cesium-viewer-timelineContainer{display:none}
.cesium-viewer-logoContainer{position:absolute;padding:0;overflow:hidden;}
.cesium-viewer-bottom{display:none}
.cesium-widget-credits{display:none}
/* 向上箭头 */
.to_top {width: 0;height: 0;border-bottom: 10px solid rgba(235, 241, 227, 0.5);border-left: 10px solid transparent;border-right: 10px solid transparent;position: fixed;}
/* 向左箭头 */
.to_left {width: 0;height: 0;border-right: 10px solid rgba(235, 241, 227, 0.5);border-top: 10px solid transparent;border-bottom: 10px solid transparent;position: fixed;}
/* 向右箭头 */
.to_right {width: 0;height: 0;border-left: 10px solid rgba(235, 241, 227, 0.5);border-top: 10px solid transparent;border-bottom: 10px solid transparent;position: fixed;}
/* 向下箭头 */
.to_bottom {width: 0;height: 0;border-top: 10px solid rgba(235, 241, 227, 0.5);border-left: 10px solid transparent;border-right: 10px solid transparent;position: fixed;}
#bubbleBox{background: rgba(235, 241, 227, 0.5);}
.arrows-background-image {
    /*background-image: url(./img/ico_up.png);*/
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width: 20px;
    height: 10px;
    position: fixed;
}
#moveTips {
    position: absolute;
    z-index: 9999;
    color: #fff;
}

.cimMap-popup {
    left: 0;
    top: 5px
}

.cimMap-popup,
.cimMap-popup-close-button {
    position: fixed;
    text-align: center;
    z-index: 9999
}

.cimMap-popup-close-button {
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    text-decoration: none;
    font-weight: 700;
    background: transparent;
    color:#fff;
    cursor: pointer;
}
.cimMap-popup-close-button:hover{
    text-decoration: none;
}
.cimMap-popup-content-wrapper {
    text-align: center;
    max-height: 500px;
    overflow-y: auto;
    box-shadow: 0 3px 14px rgba(0, 0, 0, .4);
    padding: 1px;
    text-align: left;
    border-radius: 3px
}

.cimMap-popup-content {
    /* margin: 10px; */
    line-height: 1.4;
    font-size: 13px;
    max-width: 800px;
    min-width: 50px
}

.cimMap-popup-tip-container {
    float: left;
    bottom: 0;
    margin: 0 auto;
    width: 40px;
    height: 20px;
    position: absolute;
    overflow: hidden
}

.cimMap-popup-tip {
    box-shadow: 0 3px 14px rgba(0, 0, 0, .4);
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    transform: rotate(45deg)
}

.cimMap-popup-color {
    color: #fff
}

.cimMap-popup-background {
   /*  background: rgba(63, 72, 84, .9) */
}

.cimMap-popup-title {
    border-radius: 3px 0 0 3px;
    padding: 0 80px 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #616161;
    overflow: hidden
}

.cimMap-popup-content {
    min-width: 150px;
    /* margin-top: 12px; */
    font-size: 14px
}

.cimMap-popup-content label {
    margin-right:10px;
    min-width: 50px
}

/* .cimMap-popup-content>div {
    margin-top: 5px
} */
.cim-animation-point,
.cim-animation-point:after,
.cim-animation-point:before,
.cim-animation-point span,
.cim-animation-point span:after,
.cim-animation-point span:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: none !important;
}

.cim-animation-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid hsla(0, 0%, 100%, .5);
    cursor: pointer;
    color: #0ff;
    background: currentColor;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 2em currentColor, 0 0 .5em currentColor
}


.cim-animation-point:after,
.cim-animation-point:before,
.cim-animation-point span:after,
.cim-animation-point span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none !important;
}

.cim-animation-point:after,
.cim-animation-point:before {
    border: 1px solid;
    left: 50%;
    top: 50%;
    display: none !important;
    -webkit-animation: cim-anim-scale 1s ease infinite;
    -moz-animation: cim-anim-scale 1s ease infinite;
    -o-animation: cim-anim-scale 1s ease infinite;
    -ms-animation: cim-anim-scale 1s ease infinite;
    animation: cim-anim-scale 1s ease infinite
}
.cim-animation-point:after,.cim-animation-point span:after{
    display: none !important;
}
.cim-animation-point:before,.cim-animation-point span:before{
    display: none !important;
}

.cim-animation-point span:before {
    border: 1px solid;
    display: none !important;

}

.cim-animation-point span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    display: none !important;
    -webkit-animation: cim-anim-scale 2s ease infinite;
    -moz-animation: cim-anim-scale 2s ease infinite;
    -o-animation: cim-anim-scale 2s ease infinite;
    -ms-animation: cim-anim-scale 2s ease infinite;
    animation: cim-anim-scale 2s ease infinite
}

@-webkit-keyframes cim-anim-scale {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        filter: alpha(opacity=1)
    }

    25% {
        width: 12px;
        height: 12px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .7;
        filter: alpha(opacity=70)
    }

    50% {
        width: 20px;
        height: 20px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .5;
        filter: alpha(opacity=50)
    }

    75% {
        width: 30px;
        height: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .2;
        filter: alpha(opacity=20)
    }

    to {
        width: 40px;
        height: 40px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        filter: alpha(opacity=0)
    }
}

@-moz-keyframes cim-anim-scale {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        filter: alpha(opacity=1)
    }

    25% {
        width: 12px;
        height: 12px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .7;
        filter: alpha(opacity=70)
    }

    50% {
        width: 20px;
        height: 20px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .5;
        filter: alpha(opacity=50)
    }

    75% {
        width: 30px;
        height: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .2;
        filter: alpha(opacity=20)
    }

    to {
        width: 40px;
        height: 40px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        filter: alpha(opacity=0)
    }
}

@-o-keyframes cim-anim-scale {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        filter: alpha(opacity=1)
    }

    25% {
        width: 12px;
        height: 12px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .7;
        filter: alpha(opacity=70)
    }

    50% {
        width: 20px;
        height: 20px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .5;
        filter: alpha(opacity=50)
    }

    75% {
        width: 30px;
        height: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .2;
        filter: alpha(opacity=20)
    }

    to {
        width: 40px;
        height: 40px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        filter: alpha(opacity=0)
    }
}

@-ms-keyframes cim-anim-scale {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        filter: alpha(opacity=1)
    }

    25% {
        width: 12px;
        height: 12px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .7;
        filter: alpha(opacity=70)
    }

    50% {
        width: 20px;
        height: 20px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .5;
        filter: alpha(opacity=50)
    }

    75% {
        width: 30px;
        height: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .2;
        filter: alpha(opacity=20)
    }

    to {
        width: 40px;
        height: 40px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        filter: alpha(opacity=0)
    }
}

@keyframes cim-anim-scale {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        filter: alpha(opacity=1)
    }

    25% {
        width: 12px;
        height: 12px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .7;
        filter: alpha(opacity=70)
    }

    50% {
        width: 20px;
        height: 20px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .5;
        filter: alpha(opacity=50)
    }

    75% {
        width: 30px;
        height: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: .2;
        filter: alpha(opacity=20)
    }

    to {
        width: 40px;
        height: 40px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        filter: alpha(opacity=0)
    }
}
.location-information-bar{
    position: absolute;left: 0px;bottom: 10px;color: #fff;padding: 0 5px;z-index: 999;height: 30px;background-color: rgba(0, 0, 0, 0.3);line-height: 30px;
}

.operate-panel {
    position: fixed;
    right: 50px;
    width: 150px;
    height: auto;
    top: 200px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    padding: 10px 10px;
    color: #fff;
    user-select: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.operate-panel .op-btn {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.operate-panel .op-btn:last-child {
    border-bottom: none;
}
.operate-panel .op-btn:hover {
    color: #ff661e;
}
.operate-panel .op-btn.on {
    color: red;
}
#moveTips {
    position: absolute;
    z-index: 9999;

    /* color: #fff; */
}
.cimMap-popup {
    left: 0;
    top: 5px;
}
.cimMap-popup,
.cimMap-popup-close-button {
    position: absolute;
    text-align: center;
    z-index: 9999;
}
.cimMap-popup-close-button {
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    text-decoration: none;
    font-weight: 700;
    background: transparent;
}
.cimMap-popup-content-wrapper {
    text-align: center;
    max-height: 500px;
    overflow-y: auto;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    padding: 1px;
    text-align: left;
    border-radius: 3px;

    /*    background-image: url("img/bubble_img.png"); */
}
.cimMap-popup-content {
    /* margin: 10px; */
    line-height: 1.4;
    font-size: 13px;
    max-width: 800px;
    min-width: 50px;
}
.point_tooltip{
    position: absolute;
    right: -40px;
    bottom: -10px;
    width: 30px;
    height: 2px;
    background-color: #0ff;
    box-shadow: 1px 1px 10px 1px #0ff;
    transform-origin: center top;
    transform: translateX(-50%) rotate(45deg);
}
.point_tooltip_point{
    position: absolute;
    right: -25px;
    bottom: -25px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: rgb(255, 255, 0);
    box-shadow: 2px 2px 10px rgb(255, 255, 0);
}
/* 弹出层样式 */
.tooltip_html_ul{
    margin-block-start: 0;
    padding-inline-start: 0;
    font-size: 14px;
    color: #fff;    
}
.tooltip_html_ul li{
    list-style: none;
    line-height: 24px;
    font-family: '宋体';
    white-space: nowrap;
}
.cimMap-popup-tip-container {
    display: none;
    margin: 0 auto;
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
.cimMap-popup-tip {
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    transform: rotate(45deg);
}
.cimMap-popup-color {
    color: #fff;
}
.cimMap-popup-background {
    float: right;
    /* background: rgba(63, 72, 84, .9); */
    background: url("img/mapbg.png") no-repeat;
    background-size: 100% 100%;
    /* border: 1px solid #0ff; */
    /* box-shadow: 0px 0px 10px 0px rgba(0, 255, 255, .2); */
}
.mars-popup-titile {
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: url("img/mapTitlebg.png") no-repeat bottom center;
    overflow: hidden;
}
.mars-popup-content {
    min-width: 150px;
    margin: 10px 10px 10px 10px;
    /* margin-right: 12px; */
    font-size: 14px;
    color:#59D1FF;
}
.tooltip_title{
    float: left;
    width: calc(100% - 25px);
    font-family: '宋体';
    font-weight: bold;
}
.tooltip_close{
    float: left;    
    vertical-align: middle;
    height: 20px;
    width: 20px;
    line-height: 18px;        
    margin-top: 8px;    
    cursor: pointer;    
    text-align: center;
    transform:rotate(0deg);
    transition: 0.7s all;
    color: #0ff;
}
.tooltip_close:hover{
    color: yellow;
    transform:rotate(360deg);
}

.mars-popup-content label {
    display: inline-block;
    /* margin: 0 10px; */
    width: 100px;
    min-width: 50px;
    font-size: 14px;
    color:#fff;
    text-align: right;
}
/* .mars-popup-content > div {
    margin-top: 5px;
} */